# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# Editors / OS
.DS_Store
.idea/
.vscode/
